body{
    padding-top: 70px;
}
html{
    scroll-behavior: smooth;
}

/* <!-- Navbar Section --> */
.navbar {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.nav-link {
  color: #000000 !important;
  font-weight: 500;
}
.nav-link:hover {
  color: #0dcaf0 !important; /* light blue hover */
}

